script(type='text/javascript')
	var socket = io.connect('http://localhost:3000');
		socket.on('bid', function (data) {
		console.log("SIO update: " + JSON.stringify(data));
		if (data.id !== undefined) {
			$('#price-'+data.id).html(data.amount);
			$('#count-'+data.id).html(data.count);
		}
	});

h1= title
p Welcome to #{title} service!

#auctions
	table.table
		tr
			th Item name
			th Start price
			th Current price
			th Bids
		each item in items
			tr
				td
					a(href="/item/"+item.id)= item.title
				td= item.price+" zł"
				td
					span(id='price-'+item.id) #{item.current}
					|  zł
				td
					span(id='count-'+item.id) #{item.bids.length}




