h1 #{item.title}
h4 Aukcja numer #{item.id}

#navbar 
	a(href='/') Powrót do strony głównej
	
if (flash.info)
	.alert.alert-success #{flash.info}

if (flash.error)
	.alert.alert-error #{flash.error}


.row
	#info.span6
		p Aktualna cena: 
			span#cena
				b #{item.current}
			b  zł
		p Oferty kupna: 
			span#ofert
				b #{item.bids.length}
		table.table
			tr
				th Kwota
				th Oferent
				th Data
			each bid in item.bids
				tr
					td= bid.amount
					td= bid.bidder
					td= bid.date					
	#bidding.span4
		form.form(action='/item/#{item.id}/bid', method='post')
			div
				label Podaj swoje imię
				input.span2(name='user', type='text')
			div
				label Podaj kwotę
				input.span1(name='bid', type='text')
			div
				input.btn.btn-success(type='Submit', value='Licytuj')